<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="https://i.pinimg.com/originals/63/9b/3d/639b3dafb544d6f061fcddd2d6686ddb.png" width="100" height=auto alt="">
        </a>
      </nav>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  
        <li class="nav-item active">
          <a class="nav-link" href="/profile/{{user.id}}">My Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">Log out</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link" href="/accounts/login/">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/accounts/register/">Sign Up</a>
        </li>
  
      </ul>
      
  
      <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" role="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="username" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      
    </div>
  </nav>