img{
    width: auto;
}
html{
    background-color: cornsilk;
    text-align: center;
    display: block;
    flex-direction: row-reverse;
}


.username{
    text-align: left;
    
}

.post{
    width: 50%;
    margin-top: 4%;
    margin-left: 5%;
}

.button{
    align-items: center;
    width: 30%;
}

.comments{
    margin-top: 5%;
}

.comment{
    padding: 4%;
}