{%extends "django_registration/base.html"%}
{% load bootstrap3 %}
{% load static  %}
{% block styles%}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  {% bootstrap_css %}
{% endblock %}
{% block content %}
<div class='container' style="font-variant: small-caps; font-style: 'Montserrat'; background-color: 353535;color: blueviolet; font-weight: 600;">
  <div class='text-center'>
      <p>Hello {name}, Thank you for creating an account with us</p>
  </div>
</div>